<%- include('includes/head.ejs') %>
<title><%= pageTitle %></title>
</head>

<body class="admin">
    <%- include('includes/nav.ejs') %>
    <main>
        <div class="news">
            <ul class="news">
                <% news.forEach(function(item){ %>
                    <li>
                        <a href="news/<%= item.id %>">
                            <div class="title">
                                <%= item.title %>
                            </div>

                            <div class="body">
                                <%= item.body %>
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>    
        </div>
    </main>        
</body>
    